/* 

@media screen and (min-width: 320px) {
  
    #abcde{
       height: 1rem;
       margin-bottom: 0.5rem;
    }
  
    #teenpattifreezeplacebettext{
      font-size: 0.7rem;
    
    }
    #playerA{
      margin-top: 12rem;
      margin-left: 4rem;
      font-size: 0.7rem;
      
  }
  
    #playerB{
        margin-left: 4rem;
        margin-bottom: 5rem;
        font-size: 0.7rem;
        
    }
 
  
    #outputbox{
     
        width: 95%;
        position: absolute;
        top: 39rem;
        justify-content: space-around;
        left: 0.5rem;
        margin-right: 0.5rem;
    }
  
    #teenpattimainimg{
        width: 20.4rem;
       right: 2.2rem;
       height: 15rem;
       margin-bottom: -5rem;
   
    }
  
    #amountbox{
        
      width: 90%;
     
      justify-content: space-around;
      position: absolute;
      top: 28rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 0rem;
         top: 32rem;
       
        width: 20rem;  
    }
    
   
  }
  
  @media screen and (min-width: 375px){
    .players{
        margin-left: 7rem;
    }
  
    #outputbox{
       
        position: absolute;
        top: 40rem;
        justify-content: space-around;
      
        margin-right: 0.8rem;
        width: 24.5rem;
    }
  
    #teenpattimainimg{
        width: 23.9rem;
       right: 2.2rem;
       height: 17.5rem;
       margin-bottom: -5rem;
   
    }
  
    #amountbox{
        
      width: 95%;
  
      justify-content: space-around;
      position: absolute;
      top: 30rem;
      left: 0.5rem;
      margin-right: 4rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 3rem;
         top: 33rem;
     
        width: 18rem;  
    }
  
  }
  @media screen and (min-width: 425px){
    .players{
        margin-left: 5rem;
    }
    #outputbox{
   
        position: absolute;
        top: 42rem;
       
        justify-content: space-around;
        left: 0.01rem;
        margin-right: 0.8rem;
        width: 26.5rem;
    }
  
    #teenpattimainimg{
        width: 27.1rem;
       right: 2.2rem;
       height: 20rem;
       margin-bottom: -5rem;
  
    }
  
    #amountbox{
        
      width: 95%;
     
      justify-content: space-around;
      position: absolute;
      top: 32rem;
      left: 0.5rem;
      margin-right: 4rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 3rem;
         top: 35rem;
        
        width: 21rem;  
    }
  }
  @media only screen and (min-width: 768px){
    
  
    .players{
        margin-left: 1rem;
    }
  
    #outputbox{
    
        position: absolute;
        top: 52rem;
        justify-content: space-around;
        left: 13rem;
        margin-right: rem;
        width: 35rem;
    }
  
    #teenpattimainimg{
        width: 36.2rem;
       right: 2.2rem;
       height: 27rem;
       margin-bottom: -5rem;
   
    }
  
    #amountbox{
        
      width: 80%;
  
      justify-content: space-around;
      position: absolute;
      top: 40rem;
      left: 11rem;
      margin-right: 4rem;
       
    }
  
    #playersbutton{
        display: flex;
         position: absolute;
         right: 3rem;
         top: 44rem;
     
        width: 25rem;  
    }
  }
  @media screen and (min-width: 1024px) {
  
    #playerA{
      margin-left: 10rem;
      margin-top: 15rem;
     font-size: 0.9rem; 
  }
  
    #playerB{
          margin-left: 10rem;
          margin-top: 0rem;
          font-size: 0.9rem;   
    }
    
    .players{
      margin-top: 0rem;
        margin-left: 1.8rem;
    }
  #outputbox{
    position: relative;
       
        top: 0.1rem;
        width: 40%;
        left: -1.5rem;
        height: 24.8rem;
       
    }
    #chooseamount{
        
        position: absolute;
        top: 38rem;
        left: 5rem;
    }
  
    #teenpattimainimg{
       height: 25rem;
       width: 36rem;
   
    }
  
    #amountbox{
        position: absolute;
        top: 42rem;
      width: 50%;
   
     
       
    }
  
    #playersbutton{
       
         
         position: absolute;
         top: 45rem;
         left: 5rem;
         width: 34rem;
      
          
    }
  }
  @media screen and (min-width: 1440px) {
   
    .players{
        margin-left: 1.8rem;
    }
  #outputbox{
    position: relative;
      
        top: -1.2rem;
        width: 46%;
        height: 32rem;
       
    }
    #chooseamount{
        
        position: absolute;
        top: 39.2rem;
        left: 12rem;
    }
  
    #teenpattimainimg{
       height: 30rem;
       width: 40rem;
  
    }
  
    #amountbox{
        position: absolute;
        top: 43rem;
        margin-left: 2rem;
      width: 45%;
  
    }
  
    #playersbutton{
       
         
         position: absolute;
         top: 46rem;
         left: 12rem;
         width: 39rem;
     
          
    }
  } */


  /* 3Cards-Teen-Patti */

@media screen and (min-width: 320px) {

  #abcde {
    height: 1rem;
    margin-bottom: 0.5rem;
  }

  #teenpattifreezeplacebettext {
    font-size: 0.7rem;

  }

  #playerA {
    position: absolute;
    top: 9rem;
    left: 2rem;
    margin-left: 0rem;
    font-size: 0.7rem;

  }

  #playerB {
    position: absolute;

    /* background-color: red; */
    top: 11rem;
    left: 2rem;
    margin-bottom: 5rem;
    font-size: 0.7rem;

  }

  #teenpattimainimg {
    width: 105.5%;

    /* margin-bottom: 60rem; */
    /* background-color: red; */
  }
  #outputbox {
    /* background-color: blue; */
    width: 100%;
    position: absolute;
    top: 39rem;
    justify-content: space-around;

    font-size: 1rem;
  }


  #amountbox {

    width: 90%;
    /* background-color: yellow; */
    justify-content: space-around;
    position: absolute;
    top: 29rem;
    left: 0.5rem;

  }

  #chooseamount {
    position: absolute;
    top: 36.2rem;
    left: 5.2rem;
    font-size: 1rem;
  }

  #playersbutton {
    display: flex;
    position: absolute;
    right: 0rem;
    top: 32rem;
    /* background-color: black; */
    width: 20rem;

  }


}

@media screen and (min-width: 375px) {
  .players {
    margin-left: 7rem;

  }
#playerA-Card{
  top: 11.5rem;
}
#playerB-Card{
  top: 20rem;
}
  #winner-main {
    left: 1rem;
  }

  #outputbox {
    /* background-color: blue; */
    position: absolute;
    top: 40rem;
    justify-content: space-around;
    /* left: 0.01rem; */
    /* margin-right: 0.8rem; */
    width: 100%;
  }

  #chooseamount {
    position: absolute;
    top: 38.2rem;
    left: 6.5rem;
    font-size: 1rem;
  }
#AspectRatio{
  width: 100%;
  height: 15rem;
}
  /* #teenpattimainimg {
    width: 120%;
    /* margin-top: 0.2rem; */
    /* height: auto;
    margin-bottom: -5rem; */
    /* background-color: red; */
  

  #amountbox {

    width: 95%;
    /* background-color: yellow; */
    justify-content: space-around;
    position: absolute;
    top: 30rem;
    left: 0.5rem;
    margin-right: 4rem;

  }

  #playerA {
    position: absolute;
    top:12.5rem;
    left: 3rem;
    margin-left: 0rem;
    font-size: 0.7rem;

  }

  #playerB {
    position: absolute;

    /* background-color: red; */
    top: 14.5rem;
    left: -4rem;
    margin-bottom: 5rem;
    font-size: 0.7rem;

  }

  #playersbutton {
    display: flex;
    position: absolute;
    right: 1.7rem;
    top: 33rem;
    /* background-color: black; */
    width: 20rem;
  }

}

@media screen and (min-width: 425px) {
  .players {
    margin-left: 5rem;
    /* background-color: blue; */
  }

  #playerA {
    position: absolute;
    top: 11.9rem;
    left: 3rem;
    margin-left: 0rem;
    font-size: 0.9rem;

  }
  #playerA-Card{
    top: 11rem;
  }
  #playerB-Card{
    top: 20.5rem;
  }
  #playerB {
    position: absolute;

    /* background-color: red; */
    top: 14.9rem;
    left: -2rem;
    margin-bottom: 5rem;
    font-size: 0.9rem;

  }

  #winner-main {
    left: 2.5rem;
  }

  #outputbox {
    /* background-color: blue; */
    position: absolute;
    top: 48rem;

    justify-content: space-around;
    left: 0.01rem;
    margin-right: 0.8rem;
    width: 100%;
  }

  #chooseamount {
    position: absolute;
    top: 42rem;
    left: 8.5rem;
    font-size: 1rem;
  }
/* 
  #teenpattimainimg {
    width: 108rem;

    height: 20rem;
    margin-bottom: 40rem;
    /* background-color: red; */
  

  #amountbox {

    width: 95%;
    /* background-color: yellow; */
    justify-content: space-around;
    position: absolute;
    top: 35rem;
    left: 0.5rem;
    margin-right: 4rem;

  }

  #playersbutton {
    display: flex;
    position: absolute;
    right: 3rem;
    top: 39rem;
    /* background-color: black; */
    width: 21rem;
  }
}

@media only screen and (min-width: 768px) {

  #winner-main {
    left: 3.2rem;
    font-size: 2rem;
  }
  #teenpattifreezeplacebettext {
    font-size: 1rem;

  }
  #winner {
    height: 4rem;
    width: 18rem;
    font-size: 2rem;
  }

  .players {
    margin-left: 1rem;
  }

  #playerA {
    position: absolute;
    top: 16rem;
    width: 10rem;
    left: 4.5rem;
    margin-left: 0rem;
    font-size: 2rem;

  }

  #playerB {
    position: absolute;
    width: 10rem;
    /* background-color: red; */
    top: 19rem;
    left: 3.5rem;
    margin-bottom: 5rem;
    font-size: 2rem;

  }
  #playerA-Card{
    top: 14.5rem;
  }
  #playerB-Card{
    top: 25rem;
  }

  #teenpattimainimg {
    width: 155%;
margin-left: -0.9rem;
    height: 26rem;
    /* margin-bottom: 60rem; */
    /* background-color: red; */
  }

  #outputbox {
    /* background-color: blue; */
    position: absolute;
    top: 52rem;
    justify-content: space-around;
    left: 13rem;
    margin-right: rem;
    width: 35rem;
  }

  #chooseamount {
    position: absolute;
    top: 37rem;
    left: 8rem;
    font-size: 1.5rem;
  }

  #amountbox {

    width: 65%;
    /* background-color: yellow; */
    justify-content: space-around;
    position: absolute;
    top: 42rem;
    left: 14.5rem;
    margin-right: 4rem;

  }

  #playersbutton {
    display: flex;
    position: absolute;
    right: 3rem;
    top: 45rem;
    /* background-color: black; */
    width: 25rem;
  }
}

@media screen and (min-width: 1024px) {
  #winner {
    height: 3rem;
    font-size: 1.5rem;
    width: 15rem;
  }
  #teenpattifreezeplacebettext {
    font-size: 1rem;

  }
  #winner-main {
    left: 4rem;
  }
  #playerA-Card{
    top: 14rem;
  }
  #playerB-Card{
    top: 24rem;
  }
  #playerA {
    left: 4rem;
    top: 15.5rem;
    font-size: 1.8rem;
  }

  #playerB {
    left: 2.2rem;
    top: 18rem;
    font-size: 1.8rem;
  }

  .players {
    margin-top: 0rem;
    margin-left: 1.8rem;
  }

  #outputbox {
    position: relative;
    /* background-color: blue; */
    top: 0rem;
    width: 47%;
    left: 2.5rem;
    height: 24.8rem;

  }

  #chooseamount {

    position: absolute;
    top: 35.5rem;
    left: 4rem;
  }

  #teenpattimainimg {
    width: 110%;
margin-left: -0.9rem;
    height: auto;
    /* margin-bottom: 60rem; */
    /* background-color: red; */
  }

  #amountbox {
    position: absolute;
    top: 40rem;
    width: 50%;
    left: 10.5rem;
    /* background-color: yellow; */


  }

  #playersbutton {


    position: absolute;
    top: 43rem;
    left: 5rem;
    width: 34rem;
    /* background-color: black; */

  }
}

@media screen and (min-width: 1440px) {
  #winner-main {
    left: 7.5rem;
  }
  #teenpattifreezeplacebettext {
    font-size: 1.5rem;

  }
  #winner {
    height: 4rem;
    font-size: 2rem;
    width: 20rem;
  }
  #playerA-Card{
    top: 20rem;
  }
  #playerB-Card{
    top: 30rem;
  }
  #playerA {
    left: 5rem;
    top: 21rem;
    font-size: 1.8rem;
  }

  #playerB {
    left: 3rem;
    top: 24rem;
    font-size: 1.8rem;
  }
  .players {
    margin-left: 1.8rem;
  }

  #outputbox {
    position: relative;
    /* background-color: blue; */
    top: -1rem;
    margin: 0;
    width: 53%;
    height: 32rem;

  }

  #chooseamount {

    position: absolute;
    top: 42rem;
    left: 12rem;
  }

  #teenpattimainimg {
    height: auto;
    width: 104%;
  
    /* background-color: red; */
  }

  #amountbox {
    position: absolute;
    top: 46rem;
    margin-left: 4rem;
    width: 45%;
    /* background-color: yellow; */
  }

  #playersbutton {


    position: absolute;
    top: 40rem;
    left: 55rem;
    width: 25rem;
    /* background-color: black; */

  }
}